# if you wish to include other snippets for other filetype:
# specific file
# include c.snippets
# whole directory
# include javascript/*
# include ~/.local/share/nvim/plugged/snippets/elixir.snippets
include ~/.local/share/nvim/plugged/vim-snippets/snippets/elixir.snippets


snippet df "def name(), do: ..."
	def ${1:name}(${2}), do: ${3}

snippet fn "fn args -> ... end"
options word
	fn ${1:_} -> ${2} end${0}
